@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
:root {
  --primary-color: #FFC107;
  /* 蜂蜜黃 */
  --secondary-color: #FF9800;
  /* 次要色 */
  --background-color: #F5F5F5;
  /* 背景色 */
  --gray: #333333;
  --lightGray: #D9D9D9;
  /* 文字色 */
  --link-color: #1E88E5;
  /* 連結色 */
  --button-color: #4CAF50;
  /* 按鈕色 */
  --header-color: #2196F3;
  /* 頁首色 */
  --footer-color: #607D8B;
  /* 頁尾色 */
  --sign-color: #FFDEC7;
  /* 籤紙色 */
  --ivory-white: #FFFFF0;
  --cream-white: #FFF9E6;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
div,
span,
header,
menu,
nav,
ul,
aside,
main,
article,
section,
form,
input,
label,
table,
tr,
td,
th,
img {
  list-style: none;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "Noto Sans TC", serif;
}

main#container {
  width: 100vw;
  margin: 0 auto;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("../asset/Background.png") no-repeat center center/cover;
  overflow: hidden;
  /* 確保圖片填滿區域 */
}
main#container .title {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 768px) {
  main#container .title {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
main#container .title h1 {
  font-size: 2rem;
  color: var(--ivory-white);
}
main#container section {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
}
main#container section.slide {
  position: relative;
  overflow: hidden;
}
main#container section.slide .next,
main#container section.slide .prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
main#container section.slide .next i,
main#container section.slide .prev i {
  font-size: 5rem;
  color: var(--ivory-white);
  opacity: 0.5;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
main#container section.slide .next i:hover,
main#container section.slide .prev i:hover {
  opacity: 1;
}
main#container section.slide .next {
  right: 10%;
}
@media (min-width: 768px) {
  main#container section.slide .next {
    right: 20%;
  }
}
@media (min-width: 768px) {
  main#container section.slide .next {
    right: 30%;
  }
}
@media (min-width: 1200px) {
  main#container section.slide .next {
    right: 35%;
  }
}
main#container section.slide .prev {
  left: 10%;
}
@media (min-width: 768px) {
  main#container section.slide .prev {
    left: 20%;
  }
}
@media (min-width: 768px) {
  main#container section.slide .prev {
    left: 30%;
  }
}
@media (min-width: 1200px) {
  main#container section.slide .prev {
    left: 35%;
  }
}
main#container section.slide .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300%;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
main#container section.slide .box .signContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main#container section.slide .box .signContainer .sign {
  position: relative;
  width: 200px;
  height: 450px;
  background-color: var(--sign-color);
  background-image: url(../asset/Paper.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--gray);
}
main#container section.slide .box .signContainer .sign .frame {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: 1px solid var(--gray);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--gray);
}
main#container section.slide .box .signContainer .sign .frame .signTitle,
main#container section.slide .box .signContainer .sign .frame .signLuck {
  font-size: 1.8rem;
  line-height: 1.8rem;
  width: 100%;
  height: 10%;
  font-weight: bold;
  text-align: center;
}
main#container section.slide .box .signContainer .sign .frame .signLuck {
  border-bottom: 2px solid var(--gray);
}
main#container section.slide .box .signContainer .sign .frame .signature {
  padding: 0.5rem;
  height: 80%;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  justify-items: center;
  text-align: center;
  /* 文字垂直排列，從左到右 */
}
main#container footer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: var(--ivory-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem;
}
main#container footer .copyright {
  font-size: 0.6rem;
  text-align: center;
}
main#container footer .copyright .year {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main#container.containerBg {
  background: linear-gradient(to bottom, var(--lightGray) 150px, rgba(224, 224, 224, 0)), url("../asset/Background.png") no-repeat center center/cover;
}
main#container.containerBg header {
  margin-top: 30px;
  height: 64px;
  background: var(--gray);
  margin-bottom: 2rem;
}
@media (min-width: 414px) {
  main#container.containerBg header {
    margin-top: 0;
  }
}
main#container.containerBg header nav {
  max-width: 414px;
  position: relative;
  z-index: 1;
  left: 50%;
  top: 50%;
  height: 64px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
main#container.containerBg header nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
  width: 100%;
  font-size: 1.5rem;
  height: 100%;
}
main#container.containerBg header nav .menu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--primary-color);
  height: 32px;
  width: 32px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
main#container.containerBg header nav .menu li a.action {
  -webkit-transform: translateY(26px);
          transform: translateY(26px);
  color: var(--ivory-white);
  -webkit-animation: none;
          animation: none;
}
main#container.containerBg header nav .chooseBg {
  position: absolute;
  background: url(../asset/headerChoose.png);
  z-index: -1;
  width: 140px;
  height: 68px;
  top: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
main#container.containerBg section.signBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main#container.containerBg section.signBlock .box {
  text-align: center;
  width: 280px;
}
main#container.containerBg section.signBlock .box .chooseSign {
  font-size: 2rem;
  color: var(--primary-color);
  padding-bottom: 0.5rem;
}
main#container.containerBg section.signBlock .box hr {
  border: 2px solid var(--primary-color);
  border-radius: 2px;
  margin-bottom: 2rem;
}
main#container.containerBg section.signBlock .box .selectBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main#container.containerBg section.signBlock .box .selectBtns a {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 1rem 0;
  color: var(--ivory-white);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
main#container.containerBg section.signBlock .box .selectBtns a:hover {
  color: var(--primary-color);
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  font-weight: bold;
}
main#container.containerBg section.signBlock .box .selectBtns a.active {
  color: var(--secondary-color);
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  font-weight: bold;
  -webkit-animation: none;
          animation: none;
}
main#container.containerBg section.signBlock .box .startSign {
  margin-top: 1.5rem;
  padding: 0.5rem 2rem;
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 15px;
  outline: none;
  border: 3px solid transparent;
  background: var(--primary-color);
  color: var(--cream-white);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
main#container.containerBg section.signBlock .box .startSign:hover {
  background: var(--secondary-color);
  border: 3px solid var(--primary-color);
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
main#container.containerBg section.signBlock .box .startSign.active {
  background: var(--secondary-color);
  border: 3px solid var(--primary-color);
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-box-shadow: inset 4px 4px 8px rgba(93, 64, 55, 0.2);
          box-shadow: inset 4px 4px 8px rgba(93, 64, 55, 0.2);
}
main#container.containerBg section.signBlock .signContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main#container.containerBg section.signBlock .signContainer .sign {
  position: relative;
  width: 200px;
  height: 450px;
  background-color: var(--sign-color);
  background-image: url(../asset/Paper.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--gray);
  overflow: hidden;
}
main#container.containerBg section.signBlock .signContainer .sign .frame {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: 1px solid var(--gray);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--gray);
}
main#container.containerBg section.signBlock .signContainer .sign .frame .signTitle,
main#container.containerBg section.signBlock .signContainer .sign .frame .signLuck {
  font-size: 1.3rem;
  line-height: 1.8rem;
  width: 100%;
  height: 10%;
  font-weight: bold;
  text-align: center;
  text-wrap: nowrap;
  opacity: 0;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}
main#container.containerBg section.signBlock .signContainer .sign .frame .signLuck {
  border-bottom: 2px solid var(--gray);
}
main#container.containerBg section.signBlock .signContainer .sign .frame .signature {
  padding: 0.5rem;
  height: 80%;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  justify-items: center;
  /* 文字垂直排列，從左到右 */
  opacity: 0;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}
main#container.containerBg section.signBlock .signContainer .sign .frame .returnBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}
main#container.containerBg section.signBlock .signContainer .sign .frame .returnBtn:hover {
  color: var(--ivory-white);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-animation: hoverMove 1s linear infinite;
          animation: hoverMove 1s linear infinite;
}
main#container.containerBg section.signBlock .signContainer .sign .wetEffect {
  position: absolute;
  opacity: 50%;
  bottom: -735px;
}
main#container.containerBg section.signBlock .signContainer .sign .wetEffect.active {
  -webkit-transition: all 5s ease-out;
  transition: all 5s ease-out;
  bottom: -100px;
}

@-webkit-keyframes hoverMove {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes hoverMove {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}/*# sourceMappingURL=style.css.map */